<div class="container-flex">
    <div class="row">
        <div class="col">
            <h2>Wellcome and prepare {{challenge.nickname}} </h2>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
