.fake-textarea {
    min-height: calc(1.5em + 0.75rem + 2px);
    display: initial;

    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;

    height: 5em;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid;
    background-color: #fff;
    padding: 1px;
    border-radius: 8px;
    margin: 25px 5px;
}