<form [formGroup]="formEntity">
    <div class="container-flex">
        <div class="row align-items-center">
            <div class="col">
                <div class="btn-group colors" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input 
                            type="radio" autocomplete="off" 
                            formControlName="minutes" (change)="setMinutes(1)"
                            value=1> 1 min
                    </label>
                    <label class="btn btn-primary">
                        <input 
                            type="radio" autocomplete="off" 
                            formControlName="minutes" (change)="setMinutes(2)"
                            value=2> 2 min
                    </label>
                    <label class="btn btn-primary">
                        <input 
                            type="radio" autocomplete="off" 
                            formControlName="minutes" (change)="setMinutes(5)"
                            value=5> 5 min
                    </label>
                    <label class="btn btn-primary">
                        <input 
                            type="radio" autocomplete="off" 
                            formControlName="minutes" (change)="setMinutes(0)"
                            value=0> Custom
                    </label>
                    <input 
                        *ngIf="custom == 1"
                        type="number" 
                        id="minutes" name="minutes" 
                        formControlName="minutes"
                        [class.is-invalid] ="minutes.invalid && (minutes.dirty || minutes.touched)"
                        style="margin-left: 10px;"
                        (change)="setCustomMinutes($event)"
                        maxlength="2" step=1 min="1" max="10">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div class="form-group" >
                    <label for="textchallenge" class="form-label">Challenge</label>
                    <div class="row g-1">
                        <div class="col-11">
                            <textarea 
                                id="textchallenge"
                                name="textchallenge"
                                formControlName="textchallenge"
                                [class.is-invalid] ="textchallenge.invalid && (textchallenge.dirty || textchallenge.touched)"
                                class="form-control"
                                rows="5"
                                (input)="onTextChallenge($event.target.value)">
                            </textarea>
                        </div>
                    </div>
                    <small *ngIf="textchallenge.errors && (textchallenge.dirty || textchallenge.touched)" class="text-danger">
                        <p *ngIf="textchallenge.errors.required"> Field required</p>
                        <p *ngIf="textchallenge.errors.maxLength"> Max 1024 characters</p>
                    </small>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div *ngIf="playing" class="fake-textarea">
                    <span *ngFor="let word of challengeAccurancy" [ngClass]="(word.state == 0) ? 'text-dark' : ((word.state == 1) ? 'text-success' : 'text-danger')"> {{word.word}} </span>
                </div>
                <div class="form-group">
                    <div class="row g-1">
                        <div class="col-11">
                            <input 
                                *ngIf="playing"
                                id="dochallenge" name="dochallenge"
                                class="form-control" formControlName="dochallenge" 
                                (keyup.Space)= "detectWordEnd()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button
                    *ngIf="!playing"
                    type="button" class="btn btn-danger" 
                    style='margin-top:30px; cursor:pointer; color: #fff;'
                    [disabled]="!formEntity.valid "
                    (click)="onStart()">
                    <span class="mdi mdi-face-profile"></span> Start
                </button>
            </div>
        </div>
    </div>
</form>