<div *ngIf="selectedEntity" class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card profile-card-1" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&amp;h=650&amp;auto=compress&amp;cs=tinysrgb" alt="profile-sample1" class="background">
            
                <div *ngIf="selectedEntity"> 
                    <img src="{{selectedEntity.person.picture}}" class="profile" width="120" />
                </div>
            <div class="card-content">
                <div *ngIf="selectedEntity" class="m-t-30 text-center"> 
                    <h4 class="text-white">{{selectedEntity.person.name}}</h4>
                    <h6 class="text-white">{{selectedEntity.person.professionalHeadline}}</h6>
                    <div *ngIf="selectedEntity.stats" class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link text-white"><i class="mdi mdi-briefcase-check"></i> <font class="font-medium">{{selectedEntity.stats.jobs}}</font></a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link text-white"><i class="mdi mdi-dumbbell"></i> <font class="font-medium">{{selectedEntity.stats.strengths}}</font></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-7 col-xlg-8 col-md-6">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{active: option==0}" (click)="onSetOption(0)" aria-current="page"> <span class="mdi mdi-face-profile"></span> Personal</button>
                    
                </li>
                <li class="nav-item">
                    <button class="nav-link" [ngClass]="{active: option==1}" (click)="onSetOption(1)" aria-current="page"><span class="mdi mdi-dumbbell"></span> Skills and stregths</button>
                    
                </li>
            </ul>
            <app-personal *ngIf="option==0"></app-personal>
            <app-skills *ngIf="option==1"></app-skills>
        </div>
        
    </div>
    <!-- Column -->
</div>