    <app-start  *ngIf="step==1" [challenge]="challenge" (challengeUpdated)="handleChallengeUpdated($event)"></app-start>
    <!-- <app-typing *ngIf="step==2" (challengeUpdated)="handleChallengeUpdated($event)"></app-typing> -->
